{% extends 'base.html' %}

{% block content %}
<div class="card max-w-md mx-auto">
    <h1 class="heading-2 mb-4">
        Protected Group
    </h1>
    <p class="text-muted mb-4">
        Enter password to access
        "{{ group.title }}"
    </p>
    <form method="POST">
        {% csrf_token %}
        <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-input"
        >
        <button class="button mt-4">
            Enter
        </button>
    </form>

</div>

{% endblock %}